body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
h3 {
  font-size: 18px;
}
ul {
  list-style: none;
  color: #7a7b7d;
  text-align: center;
}

small {
  font-size: 11px;
}

.App {
  max-width: 800px;
  margin: 20px auto;
}
